.Admin {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100%;
}

.Admin-header {
    display: flex;
    height: 10%;
    width:100%;
    align-items: center;
    justify-content: center;
}

.Admin-display {
    display: flex;
    height: 90%;
}