.displayNavBar-header {
    display: flex;
    align-items: center;    
    margin-left: auto;
    border-radius: 20px;    
    padding: 5px;
    width: 100%;
    justify-content: center;
}

.displayNavBar-contant {
    margin-left: 20px; 
    margin-right: 20px; 
    padding: 10px 20px;
    border: 2px solid #95c8f1;
    border-radius: 20px; 
}

.displayNavBar-contant a {
    text-decoration: none;
    color: black;
    margin-left: auto;
}