.page-contant-NavBar {
  display: flex;
  align-items: center;
  margin-left: auto;
  border-radius: 20px;
  background-color: #95c8f1;
  padding: 5px;
  width: 100%;
}

.page-contant-contant {
  margin-left: 20px;
  margin-right: 20px;
}

.page-contant-contant a {
  text-decoration: none;
  color: black;
  margin-left: auto;
}
