.page-contant {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100%;
}

.page-contant-header {
  display: flex;
  height: 10%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.page-contant-display {
  display: flex;
  height: 90%;
}
