.categories-page {
  width: 100%;
}

.table-container {
  width: 100%;
  margin: 20px auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.table-header {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
}

.table-header-row {
  display: flex;
  align-items: center; /* Align vertically centered */
  border-radius: 20px;
}

.table-header-text:nth-child(1),
.table-header-text:nth-child(2),
.table-header-text:nth-child(3),
.table-header-text:nth-child(4),
.table-header-text:nth-child(5) {
  width: 100%;
}

.table-body {
  display: flex;
  flex-direction: column;
}

.table-body-row {
  display: flex;
  align-items: center; /* Align vertically centered */
}

.table-body-text {
  width: 100%;
}

.table-header-text,
.table-body-text {
  display: flex;
  padding: 10px;
  text-align: left;
  align-items: center; /* Align vertically centered */
}

.table-body-row:nth-child(even) {
  background-color: #f9f9f9;
  border-radius: 20px;
}

.table-body-row:hover {
  background-color: #e0e0e0;
  border-radius: 20px;
}

.star-button,
.edit-button,
.delete-button {
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.edit-button {
  background-color: green;
  justify-content: center;
}
.delete-button {
  background-color: red;
  justify-content: center;
}

.edit-icon,
.content-icon,
.content-icon-fill,
.delete-icon {
  width: 25px;
  margin-right: 5px;
}

@media only screen and (max-width: 1100px) {
  .table-header-text:nth-child(3),
  .table-header-text:nth-child(4) {
    display: none;
  }

  .table-body-text:nth-child(3),
  .table-body-text:nth-child(4) {
    display: none;
  }

  .table-body-text {
    width: 100%;
  }

  .star-button,
  .delete-button,
  .edit-button {
    width: 60px;
    justify-content: center;
  }

  .edit-icon,
  .content-icon,
  .content-icon-fill,
  .delete-icon {
    width: 20px;
    margin-right: 5px;
    align-items: center;
  }

  .button-text {
    display: none;
    text-decoration: none;
  }
}
